<h1>{{vm.titulo}}</h1>

<hr>

<form name="usuarioForm">
    <div class="row">
        <div class="col-md-4">
            <h3>ADICIONAR NOVO USUÁRIO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Digite seu nome" ng-required="true" ng-model="vm.usuario.nome">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Digite sua idade" ng-required="true" ng-model="vm.usuario.idade">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-disabled="usuarioForm.$invalid" ng-click="vm.adicionarUsuario(vm.usuario)">ADICIONAR</button>
        </div>
    </div>
</form>

<hr>

<table class="table table-striped text-center">
    <thead>
        <td><b>Nome</b></td>
        <td><b>Idade</b></td>
        <td></td>
    </thead>
    <tr ng-repeat="item in vm.usuarios track by $index">
        <td>{{item.nome}}</td>
        <td>{{item.idade}}</td>
        <td><button type="button" class="btn btn-danger" ng-click="vm.remover($index)">REMOVER</button></td>
    </tr>
</table>
